/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-bg: rgb(27 178 229 / 16%);
    --vp-custom-block-tip-code-bg: rgb(27 178 229 / 20%);
}

html.dark {
    .custom-block.tip {
        strong,
        code {
            color: rgb(27 178 229);
        }

        .custom-block-title {
            color: #c9e8f2;
        }
    }

    .custom-block.important {
        strong,
        .custom-block-title {
            color: #c8abfa;
        }
    }

    .custom-block.warning {
        strong,
        .custom-block-title {
            color: #f9b44e;
        }
    }

    .custom-block.caution {
        strong,
        .custom-block-title {
            color: #f66f81;
        }
    }
}

html:not(.dark) {
    .custom-block.tip {
        code,
        strong,
        .custom-block-title {
            color: darkcyan;
        }
    }

    .custom-block.important {
        strong,
        .custom-block-title {
            color: purple;
        }
    }

    .custom-block.warning {
        strong,
        .custom-block-title {
            color: orange;
        }
    }

    .custom-block.caution {
        strong,
        .custom-block-title {
            color: orangered;
        }
    }
}
