@font-face {
    font-family: 'JetBrains Mono';
    src: url(JetBrainsMono-Regular.woff2) format('woff2');
}

:root {
    --vp-font-family-base: 'HarmonyOS Sans SC', 'MiSans VF', 'Segoe UI', sans-serif;

    --vp-font-family-mono: 'JetBrains Mono', 'Consolas', 'Courier New', monospace;

    --el-font-family: var(--vp-font-family-base);
}

i, em {
    font-family: 'Segoe UI', 'HarmonyOS Sans SC', 'MiSans VF', sans-serif;
}

.VPHomeHero .name {
    line-height: 1.5em;
}
