# 依赖包，缓存文件，构建产物
# Packages, cache and builds
/node_modules
/dist
/cache
dist.*

# 环境控制文件
# Environment managements
/package-lock.json
*.local
.env
.env.*

# 编辑器目录与文件
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 运维脚本
# Operation scripts
/*.sh
/*.bat
/*.cmd

# 草稿
# Drafts
*.draft.md
*.temp.md
*.tmp.md
